<h1>Class : {{ lop_hoc }}</h1>
<h1>Subject : {{ mon_hoc }}</h1>
<h1>Lecturer : {{ giang_vien }}</h1>

<table border="1">
    <tr>
        <th>Class</th>
        <th>{{ class_name }}</th>
    </tr>
    <tr>
        <th>Subject</th>
        <th>{{ mon_hoc }}</th>
    </tr>
    <tr>
        <th>Lecturer</th>
        <th>{{ giang_vien }}</th>
    </tr>
</table>