<h1>Class : {{ lop_hoc }}</h1>
<h1>Subject : {{ mon_hoc }}</h1>
<h1>Lecturer : {{ giang_vien }}</h1>

<table border="1">
   <tr>
      <th>Class</th>
      <td>{{ lop_hoc }}</td>
   </tr>
   <tr>
      <th>Subject</th>
      <td>{{ mon_hoc }}</td>
   </tr>
   <tr>
      <th>Lecturer</th>
      <td>{{ giang_vien }}</td>
   </tr>
</table>